body, h1, h2, h3, h4, p{
    margin: 0px;
}

.main__container{
    width: 100%;
    box-sizing: border-box;
    background-color: $secondary-background;
}

* {
    @include secondary-font;
}

a{
    color: inherit;
    text-decoration: none;
}

.logo{
    height: 63px;
    background-color: $primary-background;
    display: flex;
    align-items: center;
    justify-content: center;

    a{
        position: absolute;
        left: 0;
        width: 63px;
        height: 63px;
        display: flex;
        justify-content: center;
        align-items: center;

        .fa-solid{
            font-size: 19.7px;
        }

        &:hover{
            cursor: pointer;
        }   
    }

    &__title h1{
        @include primary-font;
        font-size: 1.875rem;
        font-weight: 400;
    }
}

.restaurant{

    &__image img{
        display: block;
        width: 100%;
        height: 275px;
        object-fit: cover;
    }

    &__content{
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        background-color: $secondary-background;
        margin: -50px auto 0 auto;
        position: relative;
        
        .restaurant__name{
            padding: 32px 17px 0px 17px;
            display: flex;
            justify-content: space-between;

            .restaurant__name-title{
                white-space: nowrap;
                overflow: hidden;
            }

            .restaurant__name-title h2{
                @include primary-font;
                font-size: 1.75rem;
                font-weight: 400;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            .restaurant__name-icon{
                @include heart;
                width: 50px;
            }
        }

        .restaurant__menu{
            margin: 40px 13px 0 13px;

            .menu h3{
                font-size: 1rem;
                font-weight: 300;
                text-transform: uppercase;
                padding-bottom: 8px;
                margin: 0 0 12px 0;
                position: relative;

                &::after{
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 40px;
                    height: 3px;
                    background-color: $tertiary-color;
                }
            }

            .menu__content{
                display: flex;
                flex-direction: column;
                gap: 12px;
                
                @include plat
            }
        }

        .restaurant__button{
            display: flex;
            justify-content: center;
        }

        .restaurant__button button{
            margin: 40px 0;
            @include button;
        }
    }
}

@keyframes apparition {
    from { opacity: 0; }
    to { opacity: 1; }
}
  
.restaurant__menu {
    opacity: 0;
    animation-name: apparition;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
  
#menu1 {
    animation-delay: 0.66s;
}
    
#menu2 {
    animation-delay: 1.32s;
}
    
#menu3 {
    animation-delay: 2s;
}

@media (min-width: 769px){

    .restaurant{
        background-color: $primary-background;

        .restaurant__content{
            width: 73.26%;

            .restaurant__name{
                justify-content: center;
                gap: 24px;
            }
        }
    }
}

@media (min-width: 1025px){

    .logo{
        height: 96.34px;

        .logo__title h1 {
            font-size: 2.3rem;
        }
    }

    .restaurant{

        .restaurant__image img{
            height: 383px;
        }

        .restaurant__content{
            width: 73.26%;
    
            .restaurant__menu{
                margin: 40px 210px 0 210px;
            }
        }
    }
}