// Variables :
    $primary-color: #9356DC;
    $secondary-color: #FF79DA;
    $tertiary-color: #99E2D0;

// @mixin text roboto sur 18px
// @mixin ombre 15 4 10%
// @mixin bouton dégrade primaire secondaire avec le shadow 25% texte blanc et radius
@mixin button{
    height: 50px;
    width: 218px;
    border-radius: 25px;
    border: none;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #FFFFFF;
    background: linear-gradient(to top, $primary-color, $secondary-color);
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
    cursor: pointer;

    &:hover{
        background: linear-gradient(to top, #9356DC -5.2%, #FF79DA 110.74%),
linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
        filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.35));
    }
}
// @mixin carte menu radius disposition text + prix + shadow

body{
    margin: 0px;
}

.main-container{
    width: 100%;
    max-width: 375px;
    box-sizing: border-box;
    background-color: #F6F6F6;
}

p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.125rem;
    margin: 0;
}

h1, h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
    margin: 0;
}

h3, h4{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logo{
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    position: relative;
}

.location-input{
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
    background-color: #EAEAEA;

    form input{
        border: none;
        background-color: #EAEAEA;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 1rem;
        font-weight: 500;
        padding: 0;
        height: 19px;
        text-align: center;

        &:hover{
            cursor: text;
        }

        &::placeholder{
            color: black;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 1rem;
            font-weight: 500;
            text-align: center;
        }

        &:focus{
            outline: none;

            &::placeholder{
                opacity: 0;
            }
        }
    }

    .location-icon{
        display: flex;
        align-items: center;
        font-size: 16px;
    }
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 39px 0 30px 0;

    .hero-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 8px;

        h1{
            width: 73.33%;
        }

        p{
            width: 84%;
        }
    }

    .hero-button {

        button{
            margin: 27px 0;
            @include button
        }
    }
}

.fonctionnement{
    background-color: #FFFFFF;
    padding: 48px 20px 68px 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;

    .fonctionnement-card{
        display: flex;
        align-items: center;

        .fonctionnement-number{
            position: absolute;
            border-radius: 50%;
            background-color: $primary-color;
            color: #FFFFFF;
            width: 24px;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14.18px;
            font-weight: 500;
        }

        .fonctionnement-content{
            width: 100%;
            display: flex;
            align-items: center;
            background-color: #F6F6F6;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
            margin: 0 0 0 12px;
            border-radius: 20px;

            .fonctionnement-icon{
                padding: 0 27px 0 33.47px;
                color: #7E7E7E;
                font-size: 19.9px;
            }

            .fonctionnement-text{
                width: 100%;
            }
        }
    }
}

.restaurants{
    margin: 54px 18px 66px 18px;
    display: flex;
    flex-direction: column;
    gap: 18px;

    a{
        color: inherit;
        text-decoration: none;
    }

    .restaurants-title{

    }

    .restaurants-card{
        position: relative;
        height: 251px;
        width: 100%;
        cursor: pointer;

        .restaurants-text-new{
            position: absolute;
            top: 15px;
            right: 15px;
            height: 29px;
            width: 80px;
            background-color: $tertiary-color;
            border-radius: 2px;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
            display: flex;
            align-items: center;
            justify-content: center;
            color: #008766;
            font-size: 14px;
        }

        .restaurants-image img{
            display: block;
            width: 100%;
            height: 174px;
            object-fit: cover;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }

        .restaurants-content{
            background-color: #FFFFFF;
            height: 30.68%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;

            .restaurants-text{
                display: flex;
                flex-direction: column;
                padding-left: 13px;
                gap: 5px;

                .restaurants-name h3{
                    height: 20px;
                    margin: 0;
                    font-size: 18px;
                }

                .restaurants-location{
                    font-size: 17px;
                    font-weight: 300;
                }
            }

            .restaurants-icon{
                font-size: 22px;
                padding-right: 25px;
            }
        }
    }
}