body, h1, h2, h3, h4, p {
  margin: 0px;
}

.loader {
  position: absolute;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #FFFFFF;
}

.fade-out {
  animation: fade-out 2s ease-out both;
}

@keyframes fade-out {
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.slide-out-top {
  animation: slide-out-top 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@keyframes slide-out-top {
  88% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-1000px);
    opacity: 0;
  }
}
.main__container {
  width: 100%;
  box-sizing: border-box;
  background-color: #F6F6F6;
}

* {
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.logo__title {
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  position: relative;
}
.logo__title h1 {
  font-family: "Shrikhand", serif;
  font-size: 1.875rem;
  font-weight: 400;
}

.location {
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  background-color: #EAEAEA;
}
.location form input {
  border: none;
  background-color: #EAEAEA;
  font-size: 1rem;
  font-weight: 500;
  padding: 0;
  width: 109px;
}
.location form input:hover {
  cursor: text;
}
.location form input::-moz-placeholder {
  color: #000000;
  font-size: 1rem;
  font-weight: 500;
}
.location form input::placeholder {
  color: #000000;
  font-size: 1rem;
  font-weight: 500;
}
.location form input:focus {
  outline: none;
}
.location form input:focus::-moz-placeholder {
  opacity: 0;
}
.location form input:focus::placeholder {
  opacity: 0;
}
.location__icon {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 39px 0 30px 0;
}
.hero__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 8px;
}
@media (min-width: 1025px) {
  .hero__text {
    gap: 18px;
  }
}
.hero__text h2 {
  width: 73.33%;
  font-size: 1.5rem;
  font-weight: 700;
}
@media (min-width: 1025px) {
  .hero__text h2 {
    width: 100%;
    font-size: 2.5rem;
  }
}
.hero__text p {
  width: 84%;
  font-size: 1.125rem;
  font-weight: 300;
}
@media (min-width: 1025px) {
  .hero__text p {
    width: 100%;
  }
}
.hero__button button {
  margin: 27px 0;
  height: 50px;
  width: 218px;
  border-radius: 25px;
  border: none;
  padding: 0;
  font-weight: 500;
  font-size: 1rem;
  color: #FFFFFF;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.hero__button button:hover {
  filter: brightness(115%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}

.fonctionnement {
  background-color: #FFFFFF;
  padding: 48px 20px 68px 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
@media (min-width: 1025px) {
  .fonctionnement {
    padding: 50px 180px 50px 180px;
  }
}
.fonctionnement__title h2 {
  font-size: 1.5rem;
  font-weight: 700;
}
.fonctionnement__container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
@media (min-width: 1025px) {
  .fonctionnement__container {
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
  }
}
.fonctionnement__card {
  display: flex;
  align-items: center;
}
@media (min-width: 1025px) {
  .fonctionnement__card {
    width: 100%;
  }
}
.fonctionnement__card:hover .fa-solid {
  color: #9356DC;
}
.fonctionnement__card .fonctionnement__number {
  position: absolute;
  border-radius: 50%;
  background-color: #9356DC;
  color: #FFFFFF;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.89rem;
  font-weight: 500;
}
.fonctionnement__card .fonctionnement__content {
  width: 100%;
  height: 72.38px;
  display: flex;
  align-items: center;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  margin: 0 0 0 12px;
  border-radius: 20px;
}
.fonctionnement__card .fonctionnement__content .fonctionnement__icon {
  padding: 0 27px 0 33.47px;
  color: #7E7E7E;
  font-size: 19.9px;
}
.fonctionnement__card .fonctionnement__content .fonctionnement__text h3 {
  width: 100%;
  font-size: 1rem;
  font-weight: 500;
}

.restaurants {
  margin: 54px 18px 66px 18px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
@media (min-width: 769px) {
  .restaurants {
    margin: 30px 18px;
    gap: 28px;
  }
}
@media (min-width: 1025px) {
  .restaurants {
    margin: 30px 0;
    padding: 0 180px 0 180px;
    gap: 28px;
  }
}
.restaurants__title h2 {
  font-size: 1.5rem;
  font-weight: 700;
}
.restaurants__link {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
@media (min-width: 769px) {
  .restaurants__link {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
  }
}
@media (min-width: 1025px) {
  .restaurants__link {
    gap: 50px 100px;
  }
}
.restaurants__card {
  position: relative;
  height: 251px;
  width: 100%;
  cursor: pointer;
}
.restaurants__card .restaurants__text-new p {
  position: absolute;
  top: 15px;
  right: 15px;
  height: 29px;
  width: 80px;
  background-color: #99E2D0;
  border-radius: 2px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #008766;
  font-size: 0.875rem;
  font-weight: 500;
}
.restaurants__card .restaurants__image img {
  display: block;
  width: 100%;
  height: 174px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.restaurants__card .restaurants__content {
  background-color: #FFFFFF;
  height: 30.68%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.restaurants__card .restaurants__content .restaurants__text {
  display: flex;
  flex-direction: column;
  padding-left: 13px;
  gap: 5px;
}
.restaurants__card .restaurants__content .restaurants__text .restaurants__name h3 {
  height: 20px;
  font-size: 1.125rem;
  font-weight: 700;
}
.restaurants__card .restaurants__content .restaurants__text .restaurants__location p {
  font-size: 1.0625rem;
  font-weight: 300;
}
.restaurants__card .restaurants__content .restaurants__icon {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 22px;
  margin-right: 25px;
}
.restaurants__card .restaurants__content .restaurants__icon .fa-regular {
  transition-duration: 0.4s;
  opacity: 1;
}
.restaurants__card .restaurants__content .restaurants__icon .fa-solid {
  position: absolute;
  background-image: linear-gradient(to bottom, #9356DC, #FF79DA);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  transition-duration: 0.4s;
  transform: scale(0);
  opacity: 0;
}
.restaurants__card .restaurants__content .restaurants__icon:hover .fa-solid {
  transform: scale(1);
  opacity: 1;
}
.restaurants__card .restaurants__content .restaurants__icon:hover .fa-regular {
  opacity: 0;
}

.footer {
  background-color: #353535;
  color: #FFFFFF;
  padding: 22px 25px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 142px;
}
@media (min-width: 1025px) {
  .footer {
    flex-direction: row-reverse;
    align-items: flex-end;
    height: 54px;
    padding: 30px 70px;
  }
}
.footer__logo h2 {
  font-family: "Shrikhand", serif;
  font-size: 1.125rem;
  font-weight: 400;
}
.footer__link {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
@media (min-width: 1025px) {
  .footer__link {
    flex-direction: row;
  }
}
.footer__link a {
  display: flex;
  align-items: center;
  gap: 11px;
}
.footer__link a .footer__text h3 {
  font-size: 1rem;
  font-weight: 500;
}
@media (min-width: 1025px) {
  .footer__link a .footer__text h3 {
    width: 168px;
  }
}
.footer__link a .footer__text h4 {
  font-size: 1rem;
  font-weight: 400;
}
@media (min-width: 1025px) {
  .footer__link a .footer__text h4 {
    width: 130px;
  }
}/*# sourceMappingURL=mobile-accueil.css.map */