// Variables :
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$button-gradient: linear-gradient(to top, $primary-color, $secondary-color);
$heart-gradient: linear-gradient(to bottom, $primary-color, $secondary-color);
$primary-background:#FFFFFF;
$secondary-background: #F6F6F6;
$tertiary-background: #EAEAEA;
$footer-background:#353535;
$shadow-color: #000000;
$primary-font-color: #000000;
$secondary-font-color: #FFFFFF;

// Mixin :
@mixin primary-font{
    font-family: "Shrikhand", serif;
}

@mixin secondary-font{
    font-family: "Roboto", sans-serif;
}

@mixin button{
    height: 50px;
    width: 218px;
    border-radius: 25px;
    border: none;
    padding: 0;
    font-weight: 500;
    font-size: 1rem;
    color: $secondary-font-color;
    background: $button-gradient;
    box-shadow: 0px 4px 10px rgba($shadow-color, 0.25);
    cursor: pointer;

    &:hover{
        filter: brightness(115%);
        box-shadow: 0px 4px 15px rgba($shadow-color, 0.35);
    }
}

@mixin heart{
    display: flex;
    align-items: center;
    position: relative;
    font-size: 22px;

    .fa-regular{
        transition-duration: 0.4s;
        opacity: 1;
    }

    .fa-solid{
        position: absolute;
        background-image: $heart-gradient;
        background-clip: text;
        color: transparent;
        transition-duration: 0.4s;
        transform: scale(0);
        opacity: 0;
    }

    &:hover .fa-solid{
        transform: scale(1);
        opacity: 1;
    }

    &:hover .fa-regular{
        opacity: 0;
    }
}

body, h1, h2, h3, h4, p{
    margin: 0px;
}

.loader{
    position: absolute;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: $primary-background;
    overflow: hidden;
    animation: fade-out 3s ease-out both;

    &__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 50%;
        height: 250px;
        width: 250px;
        position: relative;
        z-index: 0;
        overflow: hidden;

        &::before{
            content: '';
            position: absolute;
            z-index: -2;
            width: 200%;
            height: 200%;
            background-repeat: no-repeat;
            background-size: 50% 50%, 50% 50%;
            background-image: linear-gradient($primary-color, $secondary-color);
            animation: rotate 3s linear;
        }

        &::after {
            content: '';
            position: absolute;
            z-index: -1;
            width: calc(100% - 20px);
            height: calc(100% - 20px);
            background: white;
            border-radius: 50%;
        }
    }
}

@keyframes rotate {
	100% {
		transform: rotate(4turn);
    }
}

@keyframes fade-out{
    85%{
        opacity: 0.95;
    }
    100%{
        opacity: 0;
        visibility: hidden;
    }
}

.main__container{
    width: 100%;
    box-sizing: border-box;
    background-color: $secondary-background;
}

* {
    @include secondary-font;
}

a{
    color: inherit;
    text-decoration: none;
}

.logo__title{
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-background;
    box-shadow: 0px 2px 4px rgba($shadow-color, 0.15);
    position: relative;

    h1{
        @include primary-font;
        font-size: 1.875rem;
        font-weight: 400;
    }
}

.location{
    height: 50px;
    box-shadow: 0px 4px 4px rgba($shadow-color, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
    background-color: $tertiary-background;

    form input{
        border: none;
        background-color: $tertiary-background;
        font-size: 1rem;
        font-weight: 500;
        padding: 0;
        width: 109px;

        &:hover{
            cursor: text;
        }

        &::placeholder{
            color: $primary-font-color;
            font-size: 1rem;
            font-weight: 500;
        }

        &:focus{
            outline: none;

            &::placeholder{
                opacity: 0;
            }
        }
    }

    &__icon{
        display: flex;
        align-items: center;
        font-size: 16px;
    }
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 39px 0 30px 0;

    &__text{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 8px;

        h2{
            width: 73.33%;
            font-size: 1.5rem;
            font-weight: 700;
        }

        p{
            width: 84%;
            font-size: 1.125rem;
            font-weight: 300;
        }
    }

    &__button {

        button{
            margin: 27px 0;
            @include button;
        }
    }
}

.fonctionnement{
    background-color: $primary-background;
    padding: 48px 20px 68px 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;

    &__title h2{
        font-size: 1.5rem;
        font-weight: 700;
    }

    &__container{
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    &__card{
        display: flex;
        align-items: center;

        &:hover .fa-solid{
            color: $primary-color;
        }

        .fonctionnement__number{
            position: absolute;
            border-radius: 50%;
            background-color: $primary-color;
            color: $secondary-font-color;
            width: 24px;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 0.89rem;
            font-weight: 500;
        }

        .fonctionnement__content{
            width: 100%;
            height: 72.38px;
            display: flex;
            align-items: center;
            background-color: $secondary-background;
            box-shadow: 0px 4px 15px rgba($shadow-color, 0.15);
            margin: 0 0 0 12px;
            border-radius: 20px;

            .fonctionnement__icon{
                padding: 0 27px 0 33.47px;
                color: #7E7E7E;
                font-size: 19.9px;
            }

            .fonctionnement__text h3{
                width: 100%;
                font-size: 1rem;
                font-weight: 500;
            }
        }
    }
}

.restaurants{
    margin: 54px 18px 66px 18px;
    display: flex;
    flex-direction: column;
    gap: 18px;

    &__title h2{
        font-size: 1.5rem;
        font-weight: 700;
    }

    &__link{
        display: flex;
        flex-direction: column;
        gap: 18px;
    }

    &__card{
        position: relative;
        height: 251px;
        width: 100%;
        cursor: pointer;

        &:hover{
            border-radius: 15px;
            box-shadow: 0px 4px 15px rgba($shadow-color, 0.1);
        }

        .restaurants__text-new p{
            position: absolute;
            top: 15px;
            right: 15px;
            height: 29px;
            width: 80px;
            background-color: $tertiary-color;
            border-radius: 2px;
            box-shadow: 0px 2px 4px rgba($shadow-color, 0.15);
            display: flex;
            align-items: center;
            justify-content: center;
            color: #008766;
            font-size: 0.875rem;
            font-weight: 500;
        }

        .restaurants__image img{
            display: block;
            width: 100%;
            height: 174px;
            object-fit: cover;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }

        .restaurants__content{
            background-color: $primary-background;
            height: 30.68%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;

            .restaurants__text{
                display: flex;
                flex-direction: column;
                padding-left: 13px;
                gap: 5px;

                .restaurants__name h3{
                    height: 20px;
                    font-size: 1.125rem;
                    font-weight: 700;
                }

                .restaurants__location p{
                    font-size: 1.0625rem;
                    font-weight: 300;
                }
            }

            .restaurants__icon{
                @include heart;
                margin-right: 25px;
            }
        }
    }
}

.footer{
    background-color: $footer-background;
    color: $secondary-font-color;
    padding: 22px 25px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 142px;

    &__logo a{
        display: flex;
        width: fit-content;
    }

    &__logo h2{
        @include primary-font;
        font-size: 1.125rem;
        font-weight: 400;
    }

    &__link{
        display: flex;
        flex-direction: column;
        gap: 7px;
        width: fit-content;
    }

    &__link a{
        display: flex;
        align-items: center;
        gap: 11px;
        
        .footer__text h3{
            font-size: 1rem;
            font-weight: 500;
        }

        .footer__text h4{
            font-size: 1rem;
            font-weight: 400;
        }
    }
}

@media (min-width: 769px){

    .fonctionnement{
        padding: 50px;
    }

    .restaurants{
        margin: 30px 50px;
        gap: 28px;

        &__link{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 50px;
        }
    }
    
    .footer{
        flex-direction: row-reverse;
        align-items: flex-end;
        height: 54px;
        padding: 30px 70px;

        &__link{
            flex-direction: row;
        }

        &__link a{
            .footer__text h3{
                width: 168px;
            }

            .footer__text h4{
                width: 130px;
            }
        }
    }
}

@media (min-width: 1025px){

    .logo__title{
        height: 96.34px;

        h1 {
            font-size: 2.3rem;
        }
    }

    .hero__text{
        gap: 18px;

        h2{
            width: 100%;
            font-size: 2.5rem;
        }

        p{
            width: 100%;
        }
    }

    .fonctionnement{
        padding: 50px 180px 50px 180px;

        &__container{
            flex-direction: row;
            justify-content: space-between;
            gap: 24px;
        }

        &__card{
            width: 100%;
        }
    }

    .restaurants{
        margin: 30px 0;
        padding: 0 180px 0 180px;
        gap: 28px;

        &__link{
            gap: 50px 100px;
        }
    }
}